RT_NAME = "Real Tokenizado" #string
RT_SYMBOL = "BRL" #string
CHAINID_BACEN = <Chain ID da PL do BACEN> #integer: pré-preenchido com valor padrão
CHAINID_SELIC = <Chain ID da PL da SELIC> #integer: pré-preenchido com valor padrão
# ---
RESOURCEID_CBDC="<Resource ID do token representado pelo contrato CBDC>" #string
RESOURCEID_TPFT="<Resource ID do token representado pelo contrato TPFt>" #string
DVP_CLAIM_ADDRESS="<Endereço do contrato DVP existente na PL da SELIC>" #string
CHAINID = <Chain ID da PL da IF> #integer
RPCURL = "<RPC URL da PL da IF>" #string
ENDPOINT_ADDR = "<Endereço do contrato Endpoint da PL da IF>" #string
PRIVATEKEY_DEPLOYER = "<Chave privada da conta principal / deployer / wallet default padrão>" #string
PRIVATEKEY_CLIENT = "<Chave privada de um cliente qualquer>" #string
# ---
DEST_CHAINID = <Chain ID de uma das PLs de outros participantes> #integer
DEST_RESERVES_ACC = "<Chave pública de uma wallet default de outros participantes>" #string
DEST_CLIENT_ACC = "<Chave pública de um cliente qualquer de outros participantes>" #string