RT_NAME="Real Tokenizado" #string
RT_SYMBOL="BRL" #string
CHAINID_BACEN= #integer / BACEN
RESOURCEID_CBDC="" #string / BACEN
# ---
CHAINID= #integer
RPCURL="" #string
ENDPOINT_ADDR="" #string
PRIVATEKEY_DEPLOYER="" #string
PRIVATEKEY_CLIENT="" #string
# ---
DEST_CHAINID= #integer
DEST_RESERVES_ACC="" #string
DEST_CLIENT_ACC="" #string
# --- apenas para o emissor ---
CBDC_NAME="" #string: nome do ERC20 (Enygma) que representa a CBDC
CBDC_SYMBOL="" #string: símbolo do ERC20 (Enygma) que representa a CBDC
CHAINID_CC= #integer: Chain Id da Commit-chain na rede DREX (Besu)
RPCURL_CC="" #string: RPC URL (http) da Commit-chain na rede DREX (Besu)
COMMITCHAIN_CCDEPLOYMENTPROXYREGISTRY="" #string: endereço do contrato CCDEPLOYMENTPROXYREGISTRY (disponível no config map do Rayl Node/Relayer)
PRIVATEKEY_DEPLOYER_CC="" #string: private key do operador da Commit-chain